#userInput {
    background-color: burlywood;
    position: fixed;
    width: 100%;
    height: 25%;
    bottom: 0px;
    padding-top: 5px;
    padding-left: 50px;
    font-size: 24px;
}

#inputMessage {
    margin-top: 20px;
    height: 100%;
}

#chatHistory {
    padding-left: 20px;
    padding-top: 20px;
    height: 400vh;
    background-color: #262626;
    color: #F2F5F5;
}

button {
    margin-top: 20px;
    width: 125px;
    height: 30px;
    font-size: medium;
}

input {
    height: 20px;
    font-size: 20px;
    padding-top: 6px;
    padding-bottom: 2px;
}

body {
    margin: 0;
    background-color: beige;
    overflow-y: scroll;
    height: 100%;
    overflow-x: scroll;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#img {
    padding-bottom: 0px;
}

.username {
    color: #37B9F1;
}