body {
    background: lightblue;
}

table {
    width: 100%;
    table-layout: fixed;
    border: 2px solid black;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

td {
    width: 50%;
    border: 2px solid black;
    vertical-align: top;
    background: pink;
}

.msg {
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    display: flex;
    padding-left: 5px;
}

.user {
    border: 2px solid black;
    border-collapse: collapse;
    padding-left: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-left: 0px;
    border-right: 0px;
}

.username {
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    border-radius: 50%;
}

#friendRequests {
    margin-top: 0px;
    position: relative;
    display: block;
}

.accept {
    margin-left: 20px;
}

.chatButton {
    margin-left: 20px;
}