body {
    margin: 0px 200px 0px 200px;
    background-color: #262626;
    color: white;
}

#header {
    margin-top: 5px;
    background-color: #262A56;
    border-radius: 25px;
}

.headerChild {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    font-size: 35px;
    color: white;
}

.title {
    margin-left: 22%;
}

#header img {
    display: inline-block;
    position: absolute;
    right: 15%;
    width: 4%;
    top: 10px;
}

#logoName {
    padding: 15px;
    margin-left: 20px;
}

#content {
    border: 2px solid black;
    border-radius: 25px;
    background-color: #2f2c2c;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#content input {
    width: 80%;
    height: 40px;
    border-radius: 25px;
    padding-left: 20px;
    margin-bottom: 20px;
}

#content button {
    height: 40px;
    border-radius: 25px;
    background-color: orangered;
    color: white;
    font-weight: bold;
}

#content button:hover {
    background-color: white;
    color: orangered;
}

#friendList {
    border: 2px solid black;
    border-radius: 25px;
    background-color: #2f2c2c;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#reqStatus {
    font-weight: bold;
    margin-bottom: 20px;
}

table {
    background-color: #2f2c2c;
}

#pfp {
    width: 20rem;
    height: 13rem;
    overflow: hidden;
    margin: 20px 0px 0px 20px;
}

#pfp img {
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
}


table {
    width: 100%;
    table-layout: fixed;
    border: 2px solid black;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

td {
    width: 50%;
    border: 2px solid black;
    vertical-align: top;
}

.msg {
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    display: flex;
    padding-left: 5px;
}

.user {
    border: 2px solid black;
    border-collapse: collapse;
    padding-left: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-left: 0px;
    border-right: 0px;
}

.username {
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    border-radius: 50%;
}

#friendRequests {
    margin-top: 0px;
    position: relative;
    display: block;
}

.accept {
    margin-left: 20px;
    background-color: initial;
    background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
    outline: 0;
    overflow: hidden;
    padding: 10px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 100px;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
}

.accept:hover {
    box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}


.chatButton {
    margin-left: 20px;
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.chatButton:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}
